<div class="container">
  <div class="row justify-content-between m-5">
    <% @interviews.each do |interview| %>
      <div class="card" style="width: 18rem; height: 20rem">
        <%= link_to current_user.nickname, interview_path(interview), class: "streched-link" %>
      </div>
    <% end %>
  </div>
</div>



