<div class="container">
  <div>
    <h1>UPCOMING SESSIONS</h1>
  </div>

  <br>
  <div>
    <h4><em>Filter (Date/time, programming language, interview language, experience...)</em></h4>
  </div>
  <br>

  <h2>Today</h2>
    <div class="row">
      <% @interviews.each do |interview| %>
        <% if interview.time.today? %>
          <div class="col-3">
            <%= render partial: 'shared/card-index', locals: { interview: interview } %>
          </div>
        <% end %>
      <% end %>
    </div>
  <br>
  <h2>Tomorrow</h2>
    <div class="row">
      <% @interviews.each do |interview| %>
        <% if interview.time == Date.tomorrow %>
          <div class="col-3">
            <%= render partial: 'shared/card-index', locals: { interview: interview } %>
          </div>
        <% end %>
      <% end %>
    </div>
  <br>
  <h2>In the Future</h2>
    <div class="row">
      <% @interviews.each do |interview| %>
        <% if interview.time >= Date.tomorrow %>
          <div class="col-3">
            <%= render partial: 'shared/card-index', locals: { interview: interview } %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>

<!-- <div class="card bg-white rounded shadow-sm col-12 col-sm-6 col-md-4 col-lg-3 m-4" style="width: 18rem; height: 14rem"> -->


