<div class="container ml-0 mr-0 mw-100">
  <div class="row">

    <div class="col-5 p-0 text-center">
      <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 56px)">
        <h2>Interview Case <br> (Instructions)</h2>
      </div>
    </div>

    <div class="col-7 p-0 text-center">
      <div class="d-flex align-items-center justify-content-center bg-dark" style="height: calc(100vh - 56px - 150px);
        background-image: url(<%= cl_image_path 'Stockfoto_Videocall_u3po4j.jpg'%>);
        background-position: center; background-size: cover;">
        <div id="twilio-token" data-twilio-token="<%= JSON.generate(@token) %>"></div>
      </div>

      <!-- Video chat -->
      <div>
        <a href="#" class="video-call-button">Call</a>
      </div>
      <div id="remote-video" class="video-styling waiting">
        <h1>Waiting for <%= @other_user.nickname %> to join...</h1>
        <div id="local-video">
          <div class="round-hang-up video-button"></div>
          <div></div>
        </div>
      </div>
  
      <div class="d-flex align-items-center justify-content-center bg-secondary" style="height: calc(150px)">
        <h2>Chat</h2>
      </div>
    </div>

  </div>
</div>
