

<div class="container d-flex">
  <div>
    <h2>Interview Case</h2>
    <h2>(Instructions)</h2>
  </div>

  <div>
    <div>
      <h1><i class="far fa-play-circle"></i></h1>
    </div>
    <div>
      <h2>Chat</h2>
    </div>
  </div>
</div>
