<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))">
  <div class="container">
    <div class="logo mb-5">
      <!-- <%= cl_image_tag('v1605714662/logo_nau1de.png') %> -->
      <div class="logo__text">Hello World!</div>
    </div>
      <div class="mb-5" >
        <h2>Practice coding interviews <br> with like-minded companions for free</h2>
      </div>
      <div>
        <%= link_to "→ See available interviews", interviews_path, class: "btn btn-primary" %>
      </div>
  </div>
</div>
