.interview_card {

  border: 2px solid #EEE;
  padding: 10px;
  background: white;
  margin: 30px;
  overflow: scroll;
}


code {

  background:#fffffc;
  border: 1px solid #EEE;
  font-family: monospace;
  padding: 2px 5px;
  color:  black;
}