// .interview_card {

//   overflow: scroll;
//   height: 250px;
//   padding: 10px;
//   background: white;


// }


code {
  border: 1px solid $light-blue;
  font-family: monospace;
  padding: 4px 7px;
  border-radius: 4px;
  background-color: $light-blue;
  color: white;
}

