.interview_card {

  overflow: scroll;
  padding: 10px;
  background: white;
  height: 300px;

}


code {

  background:#fffffc;
  border: 1px solid #EEE;
  font-family: monospace;
  padding: 2px 5px;
  color:  black;
}

