.table th {

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.table thead th {

  border-bottom: 2px solid #9ba4b4;
}



.table td {

  border-top: 2px solid #9ba4b4;
 
}



.badge-success {

  background-color: rgba(30, 221, 136, 0.8);
}


.badge-warning {


  background-color: rgba(230, 126, 34, 0.8);
}

.badge-danger {

  background-color: rgba(253, 16, 21, 0.8);
}
