.badge-success {

  background-color: rgba(30, 221, 136, 0.8);
}

.badge-primary {

  background-color: rgba(20, 39, 78, 0.8);
}

.badge-warning {


  background-color: rgba(230, 126, 34, 0.8);
}

.badge-danger {

  background-color: rgba(253, 16, 21, 0.8);
}