
#remote-video {
  // position: relative;
  // border-radius: 12px;
  // border: 4px solid #7E27C4;
  // box-shadow: 3px 3px 2px 0px rgba(194, 121, 253, 0.2);
  display: block;
  // flex-direction: column;
  // justify-content: center;
  // background-color: black;
  // min-height: 200px;
  // max-height: 300px;
}
#remote-video.connected {
  h4 {
    display: none;
  }
  #local-video {
    display: inline-block;
  }
}
#remote-video.waiting {
  h4 {
    display: block;
    text-align: center;
    color: white;
  }
  video {
    display:none;
  }
  #local-video {
    display: none;
  }
}
#remote-video video {
  // max-width: 50px !important;
  width: 100%;
}
#local-video {
  // position: absolute;
  // bottom: 0;
  // right: 0;
}
#local-video, #local-video video {
  // width: 200px;
  // max-width: 200px;
}
.video-button {
  // cursor: pointer;
}


